@import '../tile/tile';

wd-tile-chooser {
    @include wd-tile();
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border-style: dashed;
    border-color: gray;

    > div {
        height: 100px;
        width: 100px;
        text-align: center;
        border: 2px solid gray;
        border-radius: 100%;
        font-size: 70px;
        cursor: pointer;

        transition: transform 0.25s;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}
